@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInDown {
  @apply opacity-0;
  animation: fadeInDown 0.5s forwards;
}

.animate-fadeInUp {
  animation: fadeInUp 0.5s forwards;
}

.animate-fadeInLeft {
  animation: fadeInLeft 0.5s forwards;
}

.animate-fadeInRight {
  @apply opacity-0;
  animation: fadeInRight 0.5s forwards;
}

.hero {
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.hero::after {
  content: '';
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/person.png');
  background-position: top;
  background-repeat: no-repeat;
  animation: fadeInRight 0.5s forwards;
}
